body{
  font-family: 'Merriweather', serif;
}

#logo{
  width: 10rem;
}

.nav-item a{
  font-size: 1.2rem;
}

.nav-item a:hover{
  background-color: #AFEEEE;
  border-radius: 4px;
  
  }
#home{
  heigh:5px;
}

.container-social{
  display: flex;
  justify-content: center;
  margin-left: 58%;
  margin-top: 6%;
}
.container-social a{
  margin: 0px 10px 0px 10px;
}

#botao{
  width: 6rem;
  background-color: #1E90FF;
  border: solid #1E90FF 1px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
#botao:hover{
  background-color: white;
  color: #1E90FF;
  border: solid #1E90FF 1px;
}


#carouselExampleCaptions{
  width: 55%;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0px 0px 60px 40px black inset;
}

#atendimento{
  width: 20%; /*foto lado esquerdo com texto a direita*/
  }

.texto-sobre{
  padding: 1.5rem;
}

#card-one{
  background-color: #87CEFA;
  height: 20rem;
}

#card-two{
  background-color: #00BFFF;
  height: 20rem;
}

#card-three{
  background-color: #87CEFA;
  height: 20rem;
}

#card-four{
  background-color: #00BFFF;
  height: 20rem;
}

#card-five{
  background-color: #00BFFF;
  height: 20rem;
}

#clientes{
  width: 80%;
  margin: auto;
}
#clientes img{
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
}
#clientes img:hover{
  transform: scale(1.2);
}

#contato{
  width: 80%;
  margin: auto;
}

#map{
  width: 90%;
  margin: auto;
}





@media(max-width: 768px){
 
  #logo{
    width: 60%;
    margin-left: 50px;
    margin-right: 0px;
  }

  #social{
    margin-left: 0;
    margin-top: 40%;
  }
  #social a{
    margin: 0rem 1.5rem 0rem 1.5rem;
  }

  #carouselExampleCaptions{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 60px 40px black inset;
  }

  #clientes{
    width: 100%;
    margin: auto;
  }
  #clientes img{
    margin: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
  }  
  #map{
    width: 95%;
    height: 1rem;
    margin: auto;
  }

}
